body {
  margin: 0;
  background: black;
  color: rgb(224, 224, 224);
  font-family: helvetica;
  font-size: 22px;
  line-height: 28.6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.container{
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.story-so-far{
  margin-bottom: 50px;
  overflow: auto;
  height: 600px;
}

.response{
  margin-bottom: 30px;
  margin-right: 10px;
}

.command{
  border-radius: 8px;
  border: 1px solid;
  border-color: rgb(224, 224, 224);
  margin-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  width: 815px;
  height: 54px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.command input{
  background: black;
  border: none;
  vertical-align: middle;
  line-height: 25px;
  margin-left: 10px;
  color: rgb(224, 224, 224);
  font-family: helvetica;
  font-size: 22px;
  line-height: 28.6px;
  width: 696px;
}

.command button{
  background: #fe7662;
  border: none;
  vertical-align: middle;
  line-height: 25px;
  margin-left: 10px;
  border-radius: 8px;
  color: rgb(224, 224, 224);
  font-family: helvetica;
  font-size: 22px;
  line-height: 28.6px;
}

.command input:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
